<div id="content">
  <div class="page-header">
    <%= link_to price_letters_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Back
    <% end %>
    <%= link_to edit_price_letter_path(@price_letter), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Edit
    <% end %>
    <h1>Show Price Letter</h1>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Detail Price Letter
          </div>
          <div class="panel-body">
            <table class="table table-bordered table-striped table-hover">
              <tbody>
              <tr>
                <td>Price letter title:</td>
                <td><%= @price_letter.price_letter_title %></td>
              </tr>
              <tr>
                <td>Price letter path:</td>
                <td><%= @price_letter.price_letter_path %></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>