<%= form_for :brand, url: brands_create_path, method: :post do |f|%>
  <input type="hidden" value="modalbox" name="modalbox">
  <div id="error_explanation" class="bg-danger text-danger"></div>

  <div class="modal-body">
    <div class="smart-form">
      <div class="row">
        <section>
          <label class="label">
            Brand Name
          </label>
          <label class="input">
            <%= f.text_field :name_brand, class: "form-control"%>
          </label>
        </section>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <a type="button" class="btn btn-default" data-dismiss="modal">Close</a>
    <%= f.submit "Submit", class: 'btn btn-primary' %>
  </div>
<% end %>