<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @indonesia_province.name %>
</p>

<%= link_to 'Edit', edit_indonesia_province_path(@indonesia_province) %> |
<%= link_to 'Back', indonesia_provinces_path %>
