<div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false"	data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-sortable="false">
  <!-- widget options:
  usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

  data-widget-colorbutton="false"
  data-widget-editbutton="false"
  data-widget-togglebutton="false"
  data-widget-deletebutton="false"
  data-widget-fullscreenbutton="false"
  data-widget-custombutton="false"
  data-widget-collapsed="true"
  data-widget-sortable="false"

  -->
  <header>
    <h2>Form </h2>
  </header>

  <!-- widget div-->

  <div>
    <!-- widget edit box -->
    <div class="jarviswidget-editbox">
      <!-- This area used as dropdown edit box -->
      <input class="form-control" type="text">
    </div>
    <!-- end widget edit box -->

    <!-- widget content -->
    <div class="widget-body">

      <%= form_for :product, url: products_create_path, method: :post do |f| %>
        <input type="hidden" value="modalbox" name="modalbox">
        <fieldset>
          <div class="form-group">
            <div class="row">
              <div class="col-md-7">
                <label class="control-label">Product Name</label>
                <%= f.text_field :name, class: 'form-control', required: true %>
              </div>

              <div class="col-md-4 selectContainer">
                <label class="control-label">Disipline</label>
                <style media="screen">
                  select.select2 {
                    display: none;
                    visibility: visible;
                    position: absolute;
                    margin-top: 4px;
                    margin-left: 4px;
                    width: 190px;
                    height: 20px;
                  }
                </style>
                <%= f.collection_select :disipline_id, Disipline.order(:name), :id, :name, {prompt: "Select a Disipline"}, {:class => 'form-control select2', :id => "disipline"} %>
              </div>
            </div>
          </div>
        </fieldset>

        <div class="form-actions">
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-default" type="submit">
                <i class="fa fa-eye"></i>
                Submit
              </button>
            </div>
          </div>
        </div>

      <% end %>

    </div>
    <!-- end widget content -->

  </div>
  <!-- end widget div -->

</div>

<script type="text/javascript" charset="utf-8">
    $("#disipline").select2({
        theme: "bootstrap"
    });
</script>
